@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';


@theme {
    --font-play: "Playwrite AU QLD", sans-serif;
    --font-shadows: "Shadows Into Light", sans-serif;
    --font-libre: "Libre Baskerville", serif;
    --color-ii: #003049; /* Dark Blue */
    --color-i: #669BBC; /* Light Blue */
    --color-main: #FDF0D5; /* Beige */
    --color-v: #C1121F; /* Light red */
    --color-vv: #780000; /* Dark red */

    --breakpoint-xs: 30rem;

}

*{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}